@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #313131;
  --font-primary: var(--font-space-grotesk);
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer utilities {
  .text-black-subtle {
    --tw-text-opacity: 1;
    color: rgb(69 61 81/var(--tw-text-opacity,1));
  }
}

body {
  font-family: var(--font-primary), ui-sans-serif, system-ui, sans-serif;
  letter-spacing: -0.02em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary), ui-sans-serif, system-ui, sans-serif;
  font-weight: 600;
}